In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
data = pd.read_csv('assists.csv')

In [5]:
data

,Unnamed: 0,Player,Team,Country,Assists p90,xA p90,Mins
0,0,Giovanni Di Lorenzo,Napoli,it ITA,0.00,0.03,1080
1,1,Mário Rui,Napoli,it ITA,0.17,0.09,1069
2,2,Fabián Ruiz Peña,Napoli,it ITA,0.17,0.09,1041
3,3,Kalidou Koulibaly,Napoli,it ITA,0.09,0.01,976
4,4,Lorenzo Insigne,Napoli,it ITA,0.22,0.26,828
...,...,...,...,...,...,...,...
2855,2855,Gideon Jung,Greuther Fürth,de GER,0.00,0.00,90
2856,2856,Nils Seufert,Greuther Fürth,de GER,0.00,0.00,57
2857,2857,Abdourahmane Barry,Greuther Fürth,de GER,0.00,0.00,101
2858,2858,Adrian Fein,Greuther Fürth,de GER,0.00,0.09,32
2859,2859,Leon Schaffran,Greuther Fürth,de GER,0.00,0.00,0

In [6]:
df = data[data['Mins']>=500][['Player', 'Team', 'Country', 'Assists p90', 'Mins', 'xA p90']]

In [7]:
df

                   Player            Team Country  Assists p90  Mins  xA p90
0     Giovanni Di Lorenzo          Napoli  it ITA         0.00  1080    0.03
1               Mário Rui          Napoli  it ITA         0.17  1069    0.09
2        Fabián Ruiz Peña          Napoli  it ITA         0.17  1041    0.09
3       Kalidou Koulibaly          Napoli  it ITA         0.09   976    0.01
4         Lorenzo Insigne          Napoli  it ITA         0.22   828    0.26
...                   ...             ...     ...          ...   ...     ...
2840       Nick Viergever  Greuther Fürth  de GER         0.00   603    0.00
2841         Julian Green  Greuther Fürth  de GER         0.00   533    0.07
2842       Håvard Nielsen  Greuther Fürth  de GER         0.00   515    0.03
2843      Sascha Burchert  Greuther Fürth  de GER         0.00   540    0.02
2844         Cedric Itten  Greuther Fürth  de GER         0.00   528    0.02

[1115 rows x 6 columns]